

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333 !important;
}


.visualization {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.chart-one {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.chart-two {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
}

.text-controls {
  position: absolute;
  display: inline-block;
  left: 100px;
  bottom: 50px;
  width: 30%;
  height: auto;
  z-index: 99;
}
